In [81]:
#AI-TECHGYM-N-8

import pandas as pd

# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

hand_df1 = pd.DataFrame(hand1)

#分割の粒度
draw_bins = [1, 20, 40]

# ビン分割の実施
hand_df1_draw_bins = pd.cut(hand_df1.draw, draw_bins)
display(hand_df1_draw_bins)
display(pd.value_counts(hand_df1_draw_bins))

#中央値で2分割
hand_df1_draw_bins_cut = pd.cut(hand_df1.draw, 2)
display(hand_df1_draw_bins_cut)
display(pd.value_counts(hand_df1_draw_bins_cut))

#データ個数が均等になるように2分割
hand_df1_draw_bins_qcut = pd.qcut(hand_df1.draw, 2)
display(hand_df1_draw_bins_qcut)
display(pd.value_counts(hand_df1_draw_bins_qcut))

0     (1, 20]
1    (20, 40]
2    (20, 40]
3    (20, 40]
4     (1, 20]
5     (1, 20]
6    (20, 40]
7     (1, 20]
8     (1, 20]
9     (1, 20]
Name: draw, dtype: category
Categories (2, interval[int64]): [(1, 20] < (20, 40]]

(1, 20]     6
(20, 40]    4
Name: draw, dtype: int64

0    (3.964, 22.0]
1     (22.0, 40.0]
2     (22.0, 40.0]
3     (22.0, 40.0]
4    (3.964, 22.0]
5    (3.964, 22.0]
6    (3.964, 22.0]
7    (3.964, 22.0]
8    (3.964, 22.0]
9    (3.964, 22.0]
Name: draw, dtype: category
Categories (2, interval[float64]): [(3.964, 22.0] < (22.0, 40.0]]

(3.964, 22.0]    7
(22.0, 40.0]     3
Name: draw, dtype: int64

0    (3.999, 16.0]
1     (16.0, 40.0]
2     (16.0, 40.0]
3     (16.0, 40.0]
4    (3.999, 16.0]
5    (3.999, 16.0]
6     (16.0, 40.0]
7     (16.0, 40.0]
8    (3.999, 16.0]
9    (3.999, 16.0]
Name: draw, dtype: category
Categories (2, interval[float64]): [(3.999, 16.0] < (16.0, 40.0]]

(16.0, 40.0]     5
(3.999, 16.0]    5
Name: draw, dtype: int64

In [46]:
hand_df2

feature gender  age  win  lose  draw
NUM 番号
100 0       男性  30代   20    24    15
101 1       男性  20代   21    15    40
102 2       女性  10代    4    35    34
103 3       男性  10代   60     3    29
104 4       女性  40代   14    35    14
105 5       男性  50代   10    29     4
106 6       女性  40代   12     2    22
107 7       女性  10代   19    12    17
108 8       男性  20代   12    11    12
109 9       男性  10代   14    43    10