In [79]:
#AI-TECHGYM-N-6B

import pandas as pd

num = ['0','1','2','3','4','5','6','7','8','9']
feature1 =['gender','age','win','lose','draw']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand)

#index,columnsをつける
hand_df1.columns = feature1
hand_df1.columns.names = ['feature']

#必要であれば表示して確認する
#display(hand_df1)

#idを追加してindexとして用いる
id1 = ['100','101','102','103','104','105','106','107','108','109']
hand_df1['id'] = pd.Series(id1)
hand_df1.set_index('id',inplace=True)

#必要であれば表示して確認する
#display(hand_df1)

feature2 =['address','hobby','job']

hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
        '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
        '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}

hand_df2 = pd.DataFrame(hand2)
hand_df2.columns = feature2
hand_df2.columns.names = ['feature']

#必要であれば表示して確認する
#display(hand_df2)

#idを追加してindexとして用いる
id2 = ['100','101','102','103','110','111','106','113','108','114']
hand_df2['id'] = pd.Series(id2)
hand_df2.set_index('id',inplace=True)

#必要であれば表示して確認する
# display(hand_df2)

#内部結合する(両方にキーidがあるデータで結合)
display(pd.merge(hand_df1, hand_df2, on='id'))

#全結合する(どちらかにキーidがあるデータで結合)
display(pd.merge(hand_df1, hand_df2, on='id', how='outer'))


#左外部結合する(hand_df1のデータを全て取り出し、hand_df2のデータがあるときは結合する)
display(pd.merge(hand_df1, hand_df2, on='id', how='left'))


#右外部結合する(hand_df2のデータを全て取り出し、hand_df1のデータがあるときは結合する)
display(pd.merge(hand_df1, hand_df2, on='id', how='right'))

feature gender  age  win  lose  draw address  hobby  job
id
100         男性  30代   20    24    15      東京     野球   IT
101         男性  20代   21    15    40      大阪     賭博   医療
102         女性  10代    4    35    34     名古屋  じゃんけん  弁護士
103         男性  10代   60     3    29     北海道     野球   事務
106         女性  40代   12     2    22      大阪  じゃんけん   IT
108         男性  20代   12    11    12      東京     野球   IT

feature gender  age   win  lose  draw address  hobby  job
id
100         男性  30代  20.0  24.0  15.0      東京     野球   IT
101         男性  20代  21.0  15.0  40.0      大阪     賭博   医療
102         女性  10代   4.0  35.0  34.0     名古屋  じゃんけん  弁護士
103         男性  10代  60.0   3.0  29.0     北海道     野球   事務
104         女性  40代  14.0  35.0  14.0     NaN    NaN  NaN
105         男性  50代  10.0  29.0   4.0     NaN    NaN  NaN
106         女性  40代  12.0   2.0  22.0      大阪  じゃんけん   IT
107         女性  10代  19.0  12.0  17.0     NaN    NaN  NaN
108         男性  20代  12.0  11.0  12.0      東京     野球   IT
109         男性  10代  14.0  43.0  10.0     NaN    NaN  NaN
110        NaN  NaN   NaN   NaN   NaN      東京     賭博   事務
111        NaN  NaN   NaN   NaN   NaN     鹿児島     野球  弁護士
113        NaN  NaN   NaN   NaN   NaN     名古屋     賭博   IT
114        NaN  NaN   NaN   NaN   NaN      大阪  じゃんけん   事務

feature gender  age  win  lose  draw address  hobby  job
id
100         男性  30代   20    24    15      東京     野球   IT
101         男性  20代   21    15    40      大阪     賭博   医療
102         女性  10代    4    35    34     名古屋  じゃんけん  弁護士
103         男性  10代   60     3    29     北海道     野球   事務
104         女性  40代   14    35    14     NaN    NaN  NaN
105         男性  50代   10    29     4     NaN    NaN  NaN
106         女性  40代   12     2    22      大阪  じゃんけん   IT
107         女性  10代   19    12    17     NaN    NaN  NaN
108         男性  20代   12    11    12      東京     野球   IT
109         男性  10代   14    43    10     NaN    NaN  NaN

feature gender  age   win  lose  draw address  hobby  job
id
100         男性  30代  20.0  24.0  15.0      東京     野球   IT
101         男性  20代  21.0  15.0  40.0      大阪     賭博   医療
102         女性  10代   4.0  35.0  34.0     名古屋  じゃんけん  弁護士
103         男性  10代  60.0   3.0  29.0     北海道     野球   事務
106         女性  40代  12.0   2.0  22.0      大阪  じゃんけん   IT
108         男性  20代  12.0  11.0  12.0      東京     野球   IT
110        NaN  NaN   NaN   NaN   NaN      東京     賭博   事務
111        NaN  NaN   NaN   NaN   NaN     鹿児島     野球  弁護士
113        NaN  NaN   NaN   NaN   NaN     名古屋     賭博   IT
114        NaN  NaN   NaN   NaN   NaN      大阪  じゃんけん   事務