In [77]:
#AI-TECHGYM-N-5

import pandas as pd

#indexとcolumnsの指定
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
    '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
    'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand)

#必要があれば表示
#display(hand_df1)

#データフレームのコピー
hand_df2 = hand_df1.copy()

#index,columnsを複数つけ、さらに名前を指定する

feature1 = pd.Series(feature1, index=feature2)
feature1.name = 'feature'
hand_df2 = pd.concat([hand_df2.T, feature1], axis=1)
hand_df2.index.names = ['特徴']
hand_df2.reset_index(inplace=True)
hand_df2.set_index(['feature', '特徴'], inplace=True)
hand_df2 = hand_df2.T


id = pd.Series(id, index=hand_df2.index)
id.name = '番号'
print(f'デバッグ：{id}')
hand_df2 = pd.concat([hand_df2, id], axis=1)
hand_df2.index.names = ['NUM']
hand_df2.reset_index(inplace=True)
hand_df2.set_index(['番号', 'NUM'], inplace=True)

#表示
display(hand_df2)

#index columnsのレベル1を削除する
# hand_df2.columns = 
# hand_df2.index = 

#Columnがgenderのデータのみ表示


#Indexが106のところを削除,行方向に合計する場合は、axisパラメータを0に設定


#Columnがgenderのところを削除,列方向に合計する場合は、axisパラメータを1に設定

デバッグ：0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
Name: 番号, dtype: object

        (gender, 性別) (age, 年齢) (win, 勝ち) (lose, 負け) (draw, あいこ)
番号  NUM
100 0             男性       30代        20         24          15
101 1             男性       20代        21         15          40
102 2             女性       10代         4         35          34
103 3             男性       10代        60          3          29
104 4             女性       40代        14         35          14
105 5             男性       50代        10         29           4
106 6             女性       40代        12          2          22
107 7             女性       10代        19         12          17
108 8             男性       20代        12         11          12
109 9             男性       10代        14         43          10