In [48]:
#AI-TECHGYM-1-4-A-1
#教師なし学習 k-mean法

# データ加工・処理・分析ライブラリ
import pandas as pd
# k-means法を使うためのインポート
from sklearn.cluster import KMeans

# 実行フォルダ
import os
os.chdir(r"C:\Users\tsuchida\Documents\techgym_セミナー\TortoiseGit_resorce\techgym_ai\Chapter_1\Answer_sheet\AI_Chapter1_saved_files")

# データがあるurl の指定
file_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00468/online_shoppers_intention.csv'

# データを取得して展開する
#対象データを読み込み
shoppers= pd.read_csv(file_url)

# 先頭の5行を表示
# display(shoppers.head(5))

#データ形式、欠損データ
# print('データ形式(X,y):{}'.format(shoppers.shape))
# print('欠損データの数:{}'.format(shoppers.isnull().sum().sum()))

view_list = ['Administrative_Duration', 'Informational_Duration', 'ProductRelated_Duration', 'SpecialDay', 'Region']
df_view = shoppers.loc[:,view_list]

kmeans = KMeans(n_clusters=6, init='random')
kmeans.fit(df_view)

df_view['cluster'] = kmeans.labels_

# labels = df_view['cluster'].value_counts()
# display(labels)

bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
df_view['SPDay_bin'] = pd.cut(df_view['SpecialDay'], bins, right=False)
df_SPDay = df_view.loc[:,['cluster','SPDay_bin']]
display(df_SPDay.groupby(['cluster','SPDay_bin']).size().unstack())

bins_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
df_view['Region_bin'] = pd.cut(df_view['Region'], bins_2, right=False)
df_SPDay = df_view.loc[:,['cluster','Region_bin']]
display(df_SPDay.groupby(['cluster','Region_bin']).size().unstack())

SPDay_bin  [0.0, 0.2)  [0.2, 0.4)  [0.4, 0.6)  [0.6, 0.8)  [0.8, 1.0)
cluster
0                6657         114         159         240         218
1                2807          49          48          83          71
2                1096           9          28          26          20
3                 386           6           7           2          15
4                  10           0           0           0           0
5                 123           0           1           0           1

Region_bin  [1, 2)  [2, 3)  [3, 4)  [4, 5)  [5, 6)  [6, 7)  [7, 8)  [8, 9)
cluster
0             2912     667    1444     727     196     500     453     260
1             1145     302     616     302      79     212     207     120
2              464     119     239     110      27      64      78      39
3              181      39      83      35      12      25      17      15
4                8       0       1       1       0       0       0       0
5               70       9      20       7       4       4       6       0

In [46]:
display(df_SPDay.groupby(['cluster','SPDay_bin']).size().unstack())

SPDay_bin  [0.0, 0.2)  [0.2, 0.4)  [0.4, 0.6)  [0.6, 0.8)  [0.8, 1.0)
cluster
0                  10           0           0           0           0
1                 386           6           7           2          15
2                6657         114         159         240         218
3                 123           0           1           0           1
4                2807          49          48          83          71
5                1096           9          28          26          20

In [49]:
#AI-TECHGYM-1-4-A-3
#教師なし学習 k-mean法

# データ加工・処理・分析ライブラリ
import pandas as pd
from pandas import Series, DataFrame

# 可視化ライブラリ
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# k-means法を使うためのインポート
from sklearn.cluster import KMeans

# データがあるurl の指定
file_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00468/online_shoppers_intention.csv'

# データを取得して展開する
#対象データを読み込み
shoppers= pd.read_csv(file_url)

# データの列の絞り込み
shoppers_sub = shoppers[['Administrative_Duration','Informational_Duration','ProductRelated_Duration','Region','SpecialDay']]

# KMeansクラスの初期化
kmeans = KMeans(init='random', n_clusters=6, random_state=0)

# クラスターの重心を計算
kmeans.fit(shoppers_sub)

# クラスター番号をpandasのSeriesオブジェクトに変換
labels = pd.Series(kmeans.labels_, name='cluster_number')

# 金融機関のデータにクラスター番号のデータを結合
shoppers_with_cluster = pd.concat([shoppers, labels], axis=1)

# 分割のための区切りを設定
bins = [0,0.2,0.4,0.6,0.8,1]

# 上の区切りをもとに金融機関のデータを分割し、qcut_age変数に各データの年齢層を設定
qcut_sp = pd.cut(shoppers_with_cluster.SpecialDay, bins, right=False)

# クラスタ番号と年齢層を結合
df = pd.concat([shoppers_with_cluster.cluster_number, qcut_sp], axis=1)

# クラスタ番号と年齢層を軸に集計し、年齢層を列に設定
cross_cluster_sp = df.groupby(['cluster_number', 'SpecialDay']).size().unstack().fillna(0)
display(cross_cluster_sp)

# 分割のための区切りを設定
bins_2 = [1,2,3,4,5,6,7,8,9]

# 上の区切りをもとに金融機関のデータを分割し、qcut_age変数に各データの年齢層を設定
qcut_r = pd.cut(shoppers_with_cluster.Region, bins_2, right=False, labels=[1,2,3,4,5,6,7,8])

# クラスタ番号と年齢層を結合
df = pd.concat([shoppers_with_cluster.cluster_number, qcut_r], axis=1)

# クラスタ番号と年齢層を軸に集計し、年齢層を列に設定
cross_cluster_r = df.groupby(['cluster_number', 'Region']).size().unstack().fillna(0)
display(cross_cluster_r)

SpecialDay      [0.0, 0.2)  [0.2, 0.4)  [0.4, 0.6)  [0.6, 0.8)  [0.8, 1.0)
cluster_number
0                      386           6           7           2          15
1                       10           0           0           0           0
2                     1096           9          28          26          20
3                     2807          49          48          83          71
4                     6657         114         159         240         218
5                      123           0           1           0           1

Region             1    2     3    4    5    6    7    8
cluster_number
0                181   39    83   35   12   25   17   15
1                  8    0     1    1    0    0    0    0
2                464  119   239  110   27   64   78   39
3               1145  302   616  302   79  212  207  120
4               2912  667  1444  727  196  500  453  260
5                 70    9    20    7    4    4    6    0