In [2]:
#AI-TECHGYM-2-6-A-1
#特徴量エンジニアリング

#インポート
import pandas as pd

#読み込みデータ
pg_data = {'0':['Python'],'1':['Ruby'],'2':['PHP'],'3':['Java'],'4':['JavaScript']} #項目名の辞書型
df_row = pd.DataFrame(pg_data)                                                      #項目名が行名にあるデータフレーム
df = df_row.T                                                                       #項目名が列名にあるデータフレーム
#display(df)

#one hot encoding
df_c = pd.get_dummies(df)                                                           #空のデータフレームに対して、列名のワンホットエンコーディングを実行し、値を埋める

#表示用並び替え
df_d = df_c.iloc[:,[3,4,2,0,1]]
display(df_d)

#columnを設定して、値を取得
new_df = pd.DataFrame(columns=["row", "vector"])
values = df[0].values

#one hot encoding
for i, row in enumerate(values):
    vector    = [0] * len(values)
    vector[i] = 1
    tmp_se    = pd.Series([row, vector], index=new_df.columns)
    new_df    = new_df.append(tmp_se, ignore_index=True)

#表示
display(new_df)

   0_Python  0_Ruby  0_PHP  0_Java  0_JavaScript
0         1       0      0       0             0
1         0       1      0       0             0
2         0       0      1       0             0
3         0       0      0       1             0
4         0       0      0       0             1

          row           vector
0      Python  [1, 0, 0, 0, 0]
1        Ruby  [0, 1, 0, 0, 0]
2         PHP  [0, 0, 1, 0, 0]
3        Java  [0, 0, 0, 1, 0]
4  JavaScript  [0, 0, 0, 0, 1]

In [3]:
tmp_se

row            JavaScript
vector    [0, 0, 0, 0, 1]
dtype: object

In [23]:
df_row

        0     1    2     3           4
0  Python  Ruby  PHP  Java  JavaScript

In [57]:
ls1 = [[2,3]]
print(ls1)
#new_df
display(pd.DataFrame(columns=["row", "vector"]))

#tmp_se
display(pd.DataFrame(columns=["row", "vector"]).append(pd.Series([2,3],index=new_df.columns), ignore_index=True))

[[2, 3]]

Empty DataFrame
Columns: [row, vector]
Index: []

  row vector
0   2      3

In [53]:
ls1 = pd.Series([2,3],index=new_df.columns)
ls1

row       2
vector    3
dtype: int64

In [6]:
df_c

   0_Java  0_JavaScript  0_PHP  0_Python  0_Ruby
0       0             0      0         1       0
1       0             0      0         0       1
2       0             0      1         0       0
3       1             0      0         0       0
4       0             1      0         0       0

In [7]:
df_d

   0_Python  0_Ruby  0_PHP  0_Java  0_JavaScript
0         1       0      0       0             0
1         0       1      0       0             0
2         0       0      1       0             0
3         0       0      0       1             0
4         0       0      0       0             1

In [10]:
values

array(['Python', 'Ruby', 'PHP', 'Java', 'JavaScript'], dtype=object)