In [17]:
#AI-TECHGYM-2-6-A-2
#特徴量エンジニアリング

#インポート
import pandas as pd

#読み込みデータ
pg_data = {'0':['Python'],'1':['Ruby'],'2':['PHP'],'3':['Java'],'4':['JavaScript']}
df_row = pd.DataFrame(pg_data)
df = df_row.T

#===OneHotEncoder====
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
array_enc = enc.fit_transform(df).toarray()

columns = ['Java','JavaScript','PHP','Python','Ruby']
df1 = pd.DataFrame(data = array_enc, columns = columns,dtype=int)

#表示用の入れ替え
df1_d = df1.iloc[:,[3,4,2,0,1]]
display(df1_d)

   Python  Ruby  PHP  Java  JavaScript
0       1     0    0     0           0
1       0     1    0     0           0
2       0     0    1     0           0
3       0     0    0     1           0
4       0     0    0     0           1

In [20]:
columns

['Java', 'JavaScript', 'PHP', 'Python', 'Ruby']

In [21]:
array_enc

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [23]:
df1

   Java  JavaScript  PHP  Python  Ruby
0     0           0    0       1     0
1     0           0    0       0     1
2     0           0    1       0     0
3     1           0    0       0     0
4     0           1    0       0     0

In [25]:
df

            0
0      Python
1        Ruby
2         PHP
3        Java
4  JavaScript

In [6]:
df_c

   0_Java  0_JavaScript  0_PHP  0_Python  0_Ruby
0       0             0      0         1       0
1       0             0      0         0       1
2       0             0      1         0       0
3       1             0      0         0       0
4       0             1      0         0       0

In [7]:
df_d

   0_Python  0_Ruby  0_PHP  0_Java  0_JavaScript
0         1       0      0       0             0
1         0       1      0       0             0
2         0       0      1       0             0
3         0       0      0       1             0
4         0       0      0       0             1

In [10]:
values

array(['Python', 'Ruby', 'PHP', 'Java', 'JavaScript'], dtype=object)