In [45]:
#AI-TECHGYM-1-10-Q-1
#自然言語処理

import os
os.chdir(r"C:\Users\tsuchida\Documents\techgym_セミナー\TortoiseGit_resorce\techgym_ai\Chapter_1\Answer_sheet\AI_Chapter1_saved_files")

from janome.tokenizer import Tokenizer
from gensim.models import Word2Vec
import numpy as np

#形態素解析のオブジェクト
t = Tokenizer()

#txtファイルからデータの読み込み
with open("./techgym-AI.txt") as f:
  txt = f.read()

#読み込んだデータを表示
results = []
lines = txt.split("\n")
for i in lines:
  tokens = t.tokenize(i, wakati=True)
  results.append(tokens)

# print(results)

model = Word2Vec(results, min_count=1)
print(model.wv['プログラミング'])

programing = model.wv.most_similar(positive=['プログラミング'])
for item in programing[:5]:
  print(item[0], item[1])

[-0.0073237   0.00431542  0.00219881  0.00745964 -0.00490563 -0.00476578
 -0.0060471   0.00364221 -0.00458473  0.00841419 -0.00437789 -0.00928266
 -0.00493458  0.00647987 -0.0064086  -0.00540929 -0.00720147  0.00582907
  0.00339318  0.00253332 -0.00322005  0.00613833 -0.0060486  -0.00193527
 -0.00607642 -0.00091241 -0.00221414  0.00844065 -0.00010433 -0.00853409
 -0.00533866 -0.00687791  0.00281552  0.0093757  -0.00596231  0.00850257
  0.00857176 -0.00718431 -0.00895419  0.00929734  0.00838717 -0.00482979
 -0.00675414  0.00780354  0.00387028  0.00806407 -0.00767686 -0.00954087
  0.00167136 -0.00972357 -0.00485113 -0.00352492  0.00965658  0.00860267
 -0.00299683  0.0058992   0.00826484 -0.00234278  0.00937004  0.00712434
  0.00211462 -0.00378542 -0.00499991 -0.00310592  0.0077067  -0.00609909
 -0.00280568  0.00936342  0.00322499  0.00627027 -0.00807132 -0.00057719
  0.00569309 -0.00478128  0.00768925  0.00945762 -0.00045162 -0.00198147
 -0.00077744 -0.00573951 -0.0084595  -0.00145179 -0.00272767  0.00458856
 -0.00702032  0.00537887 -0.00655753 -0.00755433  0.00849564  0.00886623
 -0.00326024  0.00359856 -0.005789   -0.00877441 -0.00518549  0.00686205
  0.00652077  0.00933433  0.00702207  0.00665808]
始め 0.21529267728328705
として 0.2129397839307785
技術 0.21102072298526764
個人 0.20978200435638428
スキル 0.19867141544818878

In [14]:
print(token)

。

In [42]:
display(pca_Virginica.head())

Empty DataFrame
Columns: [pc1, pc2, target]
Index: []

In [46]:
display(df_SPDay.groupby(['cluster','SPDay_bin']).size().unstack())

SPDay_bin  [0.0, 0.2)  [0.2, 0.4)  [0.4, 0.6)  [0.6, 0.8)  [0.8, 1.0)
cluster
0                  10           0           0           0           0
1                 386           6           7           2          15
2                6657         114         159         240         218
3                 123           0           1           0           1
4                2807          49          48          83          71
5                1096           9          28          26          20

In [49]:
#AI-TECHGYM-1-4-A-3
#教師なし学習 k-mean法

# データ加工・処理・分析ライブラリ
import pandas as pd
from pandas import Series, DataFrame

# 可視化ライブラリ
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# k-means法を使うためのインポート
from sklearn.cluster import KMeans

# データがあるurl の指定
file_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00468/online_shoppers_intention.csv'

# データを取得して展開する
#対象データを読み込み
shoppers= pd.read_csv(file_url)

# データの列の絞り込み
shoppers_sub = shoppers[['Administrative_Duration','Informational_Duration','ProductRelated_Duration','Region','SpecialDay']]

# KMeansクラスの初期化
kmeans = KMeans(init='random', n_clusters=6, random_state=0)

# クラスターの重心を計算
kmeans.fit(shoppers_sub)

# クラスター番号をpandasのSeriesオブジェクトに変換
labels = pd.Series(kmeans.labels_, name='cluster_number')

# 金融機関のデータにクラスター番号のデータを結合
shoppers_with_cluster = pd.concat([shoppers, labels], axis=1)

# 分割のための区切りを設定
bins = [0,0.2,0.4,0.6,0.8,1]

# 上の区切りをもとに金融機関のデータを分割し、qcut_age変数に各データの年齢層を設定
qcut_sp = pd.cut(shoppers_with_cluster.SpecialDay, bins, right=False)

# クラスタ番号と年齢層を結合
df = pd.concat([shoppers_with_cluster.cluster_number, qcut_sp], axis=1)

# クラスタ番号と年齢層を軸に集計し、年齢層を列に設定
cross_cluster_sp = df.groupby(['cluster_number', 'SpecialDay']).size().unstack().fillna(0)
display(cross_cluster_sp)

# 分割のための区切りを設定
bins_2 = [1,2,3,4,5,6,7,8,9]

# 上の区切りをもとに金融機関のデータを分割し、qcut_age変数に各データの年齢層を設定
qcut_r = pd.cut(shoppers_with_cluster.Region, bins_2, right=False, labels=[1,2,3,4,5,6,7,8])

# クラスタ番号と年齢層を結合
df = pd.concat([shoppers_with_cluster.cluster_number, qcut_r], axis=1)

# クラスタ番号と年齢層を軸に集計し、年齢層を列に設定
cross_cluster_r = df.groupby(['cluster_number', 'Region']).size().unstack().fillna(0)
display(cross_cluster_r)

SpecialDay      [0.0, 0.2)  [0.2, 0.4)  [0.4, 0.6)  [0.6, 0.8)  [0.8, 1.0)
cluster_number
0                      386           6           7           2          15
1                       10           0           0           0           0
2                     1096           9          28          26          20
3                     2807          49          48          83          71
4                     6657         114         159         240         218
5                      123           0           1           0           1

Region             1    2     3    4    5    6    7    8
cluster_number
0                181   39    83   35   12   25   17   15
1                  8    0     1    1    0    0    0    0
2                464  119   239  110   27   64   78   39
3               1145  302   616  302   79  212  207  120
4               2912  667  1444  727  196  500  453  260
5                 70    9    20    7    4    4    6    0