In [38]:
#AI-TECHGYM-2-6-A-4
#特徴量エンジニアリング

#インポート
import pandas as pd
from sklearn.feature_extraction import FeatureHasher

n_features = 3
h = FeatureHasher(n_features=n_features)

#読み込みデータ
columns = ['Python','Ruby','PHP','Java','JavaScript']
D = [{"Label": "Python"},{"Label": "Ruby"},{"Label": "PHP"},{"Label": "Java"},{"Label": "JavaScript"}]
df_D = pd.DataFrame(D)
#display(df_D)

f_array = h.transform(D).toarray()
df_a = pd.DataFrame(f_array,dtype=int,index=columns)
display(df_a)

            0  1  2
Python      0  0 -1
Ruby        0 -1  0
PHP         0  1  0
Java        0 -1  0
JavaScript  0  0  1

In [24]:
f_array

array([[ 0.,  0.,  0.,  0., -1.],
       [ 0.,  0.,  0.,  0., -1.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0., -1.],
       [ 1.,  0.,  0.,  0.,  0.]])

In [23]:
df_row

        0     1    2     3           4
0  Python  Ruby  PHP  Java  JavaScript

In [57]:
ls1 = [[2,3]]
print(ls1)
#new_df
display(pd.DataFrame(columns=["row", "vector"]))

#tmp_se
display(pd.DataFrame(columns=["row", "vector"]).append(pd.Series([2,3],index=new_df.columns), ignore_index=True))

[[2, 3]]

Empty DataFrame
Columns: [row, vector]
Index: []

  row vector
0   2      3

In [53]:
ls1 = pd.Series([2,3],index=new_df.columns)
ls1

row       2
vector    3
dtype: int64

In [6]:
df_c

   0_Java  0_JavaScript  0_PHP  0_Python  0_Ruby
0       0             0      0         1       0
1       0             0      0         0       1
2       0             0      1         0       0
3       1             0      0         0       0
4       0             1      0         0       0

In [7]:
df_d

   0_Python  0_Ruby  0_PHP  0_Java  0_JavaScript
0         1       0      0       0             0
1         0       1      0       0             0
2         0       0      1       0             0
3         0       0      0       1             0
4         0       0      0       0             1

In [10]:
values

array(['Python', 'Ruby', 'PHP', 'Java', 'JavaScript'], dtype=object)